<!-- <h2>{{name}}</h2>
<mat-accordion *ngFor="let pool of pools">
  <app-pool [name]="pool.name" [lastBlockHTMLSelector]="pool.lastBlockHTMLSelector"></app-pool>
</mat-accordion> -->
<mat-accordion *ngFor="let pool of pools" [multi]="false">
  <app-pool [name]="pool.name" [lastBlockHTMLSelector]="pool.lastBlockHTMLSelector" [forToken]="name" [isActive]="pool.active"></app-pool>
</mat-accordion>

<br>

<form>
  <mat-form-field>
    <input #newPoolName matInput placeholder="Pool name">
  </mat-form-field>
  <mat-form-field>
    <input #lastBlockHTMLSelector matInput placeholder="Last block HTML selector">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addPool(newPoolName.value, lastBlockHTMLSelector.value)">Add</button>
  <button mat-raised-button>Clear</button>
</form>
