<h2>{{name}}</h2>
<mat-accordion *ngFor="let pool of pools">
  <app-pool [name]="pool.name" [lastBlockHTMLSelector]="pool.lastBlockHTMLSelector"></app-pool>
</mat-accordion>

<form>
  <mat-form-field>
    <input #newPoolName matInput placeholder="Pool name">
  </mat-form-field>
  <mat-form-field>
    <input #lastBlockHTMLSelector matInput placeholder="Last block HTML selector">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addPool(newPoolName.value, lastBlockHTMLSelector.value)">Add</button>
  <button mat-raised-button>Clear</button>
</form>



<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>
